abstra==1.14.0
altgraph==0.17.3
annotated-types==0.5.0
attrs==23.1.0
autocommand==2.2.2
Automat==22.10.0
Babel==2.13.0
backports.functools-lru-cache==1.2.1
blinker==1.6.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.3.0
cheroot==10.0.0
CherryPy==18.8.0
cli-helpers==2.3.0
click==8.1.7
colorama==0.4.6
colour==0.1.5
comtypes==1.2.0
configobj==5.0.8
constantly==15.1.0
cryptography==41.0.3
decorator==5.1.1
delegator.py==0.1.1
deprecation==2.1.0
easygui==0.98.3
et-xmlfile==1.1.0
fire==0.5.0
Flask==2.2.2
Flask-Cors==4.0.0
flask-sock==0.6.0
fpdf==1.7.2
frida==16.1.4
frida-tools==12.3.0
getmac==0.9.4
gmail==0.6.3
greenlet==2.0.2
h11==0.14.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
inflect==7.0.0
itsdangerous==2.1.2
jaraco.collections==4.3.0
jaraco.context==4.3.0
jaraco.functools==3.9.0
jaraco.text==3.11.1
jedi==0.19.0
Jinja2==3.1.2
litecli==1.9.0
lxml==4.9.3
MarkupSafe==2.1.3
more-itertools==10.1.0
multipart==0.2.4
numpy==1.26.0
objection==1.11.0
openpyxl==3.1.2
packaging==23.1
pandas==2.1.1
parso==0.8.3
pefile==2023.2.7
pexpect==4.8.0
pikepdf==8.4.0
Pillow==10.0.0
portend==3.2.0
progress==1.6
prompt-toolkit==3.0.39
protobuf==4.24.0
psutil==5.9.6
ptyprocess==0.7.0
pycaw==20230407
pycparser==2.21
pydantic==2.4.1
pydantic_core==2.10.1
pygame==2.5.0
Pygments==2.16.1
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
PyJWT==2.8.0
pyOpenSSL==23.2.0
python-dateutil==2.8.2
pytz==2023.3.post1
pyudev==0.24.1
pywin32-ctypes==0.2.2
reportlab==4.0.5
requests==2.31.0
scapy==2.5.0
semver==2.13.0
simple-websocket==0.10.1
simplejson==3.19.1
six==1.16.0
sounddevice==0.4.6
SQLAlchemy==2.0.21
sqlparse==0.4.4
tabulate==0.9.0
tempora==5.5.0
termcolor==2.3.0
tkcalendar==1.6.1
tqdm==4.66.1
Twisted==22.10.0
twisted-iocpsupport==1.0.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.5
validators==0.20.0
wcwidth==0.2.8
web.py==0.62
Werkzeug==2.2.3
wsproto==1.2.0
zc.lockfile==3.0.post1
zope.interface==6.0
